.faqContainer {
  margin: 2rem 0;
}

.faqItem {
  margin-bottom: 2rem;
}

.question {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.answer {
  line-height: 1.6;
}

.answer p {
  margin-bottom: 1rem;
}
